* {
	box-sizing: border-box;
}

body {
	font-family: 'lato', 'sans-serif';
	font-size: 22px;
	margin: 0;
}

.conteiner {
	max-width: 1830px;
	margin: 0 auto;
	padding: 0 30px;
}

.shoes {
	padding: 100px 0 86px;
}

.header {
	margin: 0;
	padding: 0;
}

.header-title {
	margin-top: 0;
	font-size: 50px;
	margin-bottom: 60px;
}

.header-paragraph {
	font-size: 22px;
	line-height: 1.5;
	margin-top: 0;
	margin-bottom: 33px;
}

.header-nav {
	padding: 17px 0 23px 0px;
}

.header-list {
	margin: 0;
	line-height: 24px;
	padding: 0 0 0 20px;
	font-size: 16px;
}

.header-link {
	font-weight: 400;
	text-decoration: none;
	color: rgb(82, 82, 82);
}

.header-link:hover,
.header-link:focus,
.header-link:active {
	opacity: 0.5;
	transition: 0.7s;
}

.care {
	width: 1090px;
}

.care-img {
	padding: 27px 0 50px;
}

.care-section {
	margin-bottom: 33px;
}

.care-section:last-child {
	margin-bottom: 0;
}

.last-care-section {
	margin-bottom: 30px;
}

.last-care-section:last-child {
	margin-bottom: 0;
}

.last-subtitle {
	margin: 0;
}

.care-subheader {
	margin: 0;
}

.care-paragraph {
	margin: 0 0 33px 0;
}

.last-paragraph {
	margin: 0;
	font-size: 22px;
	color: rgb(45, 45, 45);
	line-height: 1.5;
}

.last-subtitle {
	font-weight: 300;
	font-size: 22px;
	line-height: 1.5;
}

.subtitle {
	font-size: 22px;
	line-height: 1.5;
	margin: 0;
}
